h1, h2, h3, h4, h5, h6 {
  font-family: PT-Serif, sans-serif;
}

p {
  font-family: Neuton, sans-serif;
}

#welcome {
  background-color: #af0404;
}

.padding {
  padding: 1% 1%;
}

.fa-yelp {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: white;
  margin: 1rem 2.5rem 1rem 0;
}

.fa-yelp:hover {
  transform: rotate(-20deg) scale(1.5);
}

.fa-twitter {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #1DA1F2;
  margin: 1rem 0 1rem 2.5rem;
}

.fa-twitter:hover {
  transform: rotate(20deg) scale(1.5);
}

/* Articles */
#article-divider {
  padding: 6% 20%;
  background-color: #f5eded;
  text-align: center;
}

.article-content {
  padding-right: 10%;
  vertical-align: middle;
}
.article-img {
  width: 50%;
  padding: 5% 0;
}

.king5-img {
  border-radius: 30%;
  width: 20%;
}

.img-animate {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.img-animate:hover {
  transform: scale(1.5);
}

.carousel-text {
  padding-top: 5%;
}

/* Burger of the Month */
#month-burger {
  background-color: #af0404;
}

.burger-title {
  font-family: Acme, serif;
}

.burger-text {
  color: #f5eded;
  text-align: center;
}

.burger-text > h1 {
  font-size: 3rem;
}

.burger-text > p {
  font-size: 1.5rem;
  margin-top: 4%;
}

.month-burger-img {
  border-radius: 40%;
  width: 50%;
  margin: 3% 30% 3% 25%;
}

/* Footer */

#footer {
  background-color: #3e3636;
}

/* Utility Classes */

@media (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 120%;
  }

  p {
    font-size: 60%;
  }
}

.text-left-xs {
    text-align: left;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-left-md {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-left-lg {
        text-align: left;
    }
}

/* Possibly Uneeded */
/* .text-bubble {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  position: static;
  vertical-align: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 2rem
}

.text-bubble-yelp {
  float: left;
  position: relative;
  top: 25px;
} */
