
  <footer>
    <section id="footer">
      <div class="container-fluid footer-padding">
        <div class="row">
          <div class="col my-auto text-center">
            <p>Mon-Sat: 10:30AM - 9:00PM<br>Sunday: 11:00AM - 9:00PM</p>
            <p>(425) 347-6037</p>
            <p>5821 Evergreen Way, Everett WA</p>
          </div>
        </div>

        <div class="row">
          <div class="col my-auto text-center">
            <a href="https://twitter.com/NicksJrBurgers" target="_blank"><span class="logo logo-scale fab fa-twitter-square fa-2x"></span></a>
            <a href="https://facebook.com/NicksJrBurgers" target="_blank"><span class="logo logo-scale fab fa-facebook-square fa-2x"></span></a>
            <a href="mailto:info@nicksjrburgers.com"><span class="logo logo-scale fas fa-envelope-square fa-2x"></span></a>
          </div>
        </div>

        <div class="row">
          <div class="col my-auto text-center copyright">
            © 2019 Nick's Jr
          </div>
        </div>
      </div>
    </section>
  </footer>
</html>
