@import url("https://fonts.googleapis.com/css?family=Cabin|Inika:700&display=swap");

html, body {
  height: 100%;
  width: 100%;
  background-color: #f5eded;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inika, sans-serif;
}

p {
  font-family: Cabin, sans-serif;
}

hr {
  border-color: white;
}

.padding {
  padding: 2% 1% 1% 1%;
}

.overlay
{
  background-color: rgba(175, 4, 4, 0.5);
  background-size: cover;
  z-index: 2;
}

.section-header
{
  font-size: 3.5rem;
  color: #f5eded;
  margin-bottom: 10px;
}

/* Bootstrap Overrides */

.btn-dark
{
  background-color: rgba(62, 54, 54, 0.85) !important;
  color: #f5eded !important;
  font-weight: 500 !important;
}

.btn-dark:hover {
  background-color: rgba(62, 54, 54, 1) !important;
}

.btn-outline-dark {
  border-color: #af0404 !important;
  margin-bottom: 10px;
}

.btn-outline-dark:hover
{
  background-color: #af0404 !important;
  color: #f5eded !important;
}

.border-danger {
  border-width: medium !important;
  border-color: #af0404 !important;
}

.btn-pad {
  margin-top: 30px;
}

/* Navbar */


/* FIXME: Remove negetive margin */
.nick-logo {
  width: 30%;
  margin-bottom: -13px;
}

.navbar .navbar-brand {
  margin: 0;
}

.navbar-custom {
  background-color: rgba(175, 4, 4, 0.8);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    font-weight: bold;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #f5eded;
    font-weight: bold;
    font-size: 1.15rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 575px) {
   button.navbar-toggler {
       position: absolute !important;
       right: 10px !important;
       top: 14px !important;
   }
}

/* Welcome Section */

/* FIXME: Make image move up slightly on scroll */

#welcome {
  background: url(../images/nick-background.jpg) no-repeat center center fixed #af0404;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.main-logo-padding {
  padding-top: 100px;
}

.fa-yelp {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: white;
  margin: 1rem 1.3rem;
}

.fa-yelp:hover {
  transform: rotate(-20deg) scale(1.2);
}

.fa-twitter {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #1DA1F2;
  margin: 0.5rem 0.5rem;
}

.fa-twitter:hover {
  transform: rotate(20deg) scale(1.2);
}

/* Contact */

.contact-padding {
  margin: 2% 0;
}

.contact-container > h1 {
  font-size: 4rem;
}

.contact-info {
  margin: 2% 0;
}

.contact-info > p{
  font-size: 1.2rem;
}

.contact-icon
{
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  color: #3e3636;
  margin: 3% 0;
}

.contact-icon:hover {
  color: grey;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map
{
  border-style: solid;
  border-color: #af0404;
  border-width: thick;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

/* Articles */
#reviews {
  padding: 6% 20%;
  text-align: center;
}

.article-content {
  padding-right: 10%;
  vertical-align: middle;
}
.article-img {
  width: 65%;
  padding: 5% 0;
}

.king5-img {
  border-radius: 30%;
  width: 30%;
}

.img-animate {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.img-animate:hover {
  transform: scale(1.5);
}

/* Burger of the Month */
#month-burger {
  background-color: #af0404;
}

.burger-text {
  color: #f5eded;
  text-align: center;
}

.burger-text > h2 {
  font-family: Inika, serif;
  font-size: 2.1rem;
  margin-top: 20px;
}

.burger-text > p {
  font-size: 1.5rem;
  margin-top: 4%;
}

.month-burger-img {
  border-radius: 30%;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  width: 500px;
  height: 500px;
  border-radius: 30%;
  overflow: hidden;
  margin: 20px 0;
}

/* FIXME: Wrap media queries together, better center div */

@media (max-width: 1650px) {
  .img-wrapper {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .img-wrapper {
    width: 200px;
    height: 200px;
  }
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

/* Menu */



/* About */

#about {
  background-color: #af0404;
}

.about-img {
  width: 60%;
  height: 80%;
  margin: 7% 0;
  border-radius: 30%;
}

.about-text {
  color: #f5eded;
  text-align: center;
}

.about-text > h1 {
    margin-top: 20px;
    font-family: Inika, serif;
}

.about-text > p {
  font-size: 1.5rem;
  margin-top: 4%;
}

/* Footer */

#footer {
  background-color: #3e3636;
  padding: 2% 0;
}

#footer p, h3 {
  color: #f5eded;
}

#footer p {
  font-size: 1rem;
}

.footer-padding {
  margin: 30px 0;
}

.copyright {
  color: #575554;
}

.logo {
  margin: 2% 1%;
  color: #f5eded;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.logo:hover
{
  color: white;
}

.logo-scale {
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

.logo-scale:hover {
  transform: scale(1.1);
}

/* Utility Classes */

@media (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 120%;
  }

  p {
    font-size: 60%;
  }

  iframe
  {
    height: 100%;
    width: 100%;
  }
}

.text-left-xs {
    text-align: left;
}

.text-right-xs {
    text-align: right;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-left-sm {
        text-align: left;
    }

    .text-right-sm {
        text-align: right;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-left-md {
        text-align: left;
    }

    .text-right-md {
        text-align: right;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-left-lg {
        text-align: left;
    }

    .text-right-lg {
        text-align: right;
    }
}

/* Login Stuff */
.login-form {
  background-image: linear-gradient(#af0404, #ff0000);
  box-shadow: 4px 4px black;
}

/* Admin Stuff */
#admin h1 {
  font-size: 3.5rem;
}

.admin-welcome {
  background-color: #af0404;
  color: #f5eded;
}

.admin-display-edit h1 {
  color: #3e3636;
}

.thumbnail {
  margin: 8px 0;
  border-style: solid;
  border-color: #3e3636;
}
